<div class="row">
    <aside class="col-md-3">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
        </section>
    </aside>
    <div class="col-6">
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
    <div class="col-3">
        <ul class="list-group pt-2">
            <%= link_to "一覧", "#",        class: "list-group-item"%>
            <%= link_to "注目", "#",        class: "list-group-item"%>
            <%= link_to "検索", users_path, class: "list-group-item"%>
            <%= link_to "通知", "#",        class: "list-group-item"%>
        </ul>
    </div>
</div>