<div class="field image">
    <%= form_with(model: @user, local: true) do |form| %>
        <%= form.label 'アイコン' %>


        <%= hidden_field_tag "action", params[:action] %>
        <%= hidden_field_tag "route", "users" %>
        <%= hidden_field_tag "idParams", @user.id %>
        
        <div class="field image">
        　<i class="far fa-check-square"></i>
        
        　<div id="img_field" onClick="$('#icon').click()" >
        　　<% if @user.icon.url.present? %>
        　　　<%= image_tag @user.icon.url %>
        　　<% else %>
        　　　<i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        　　<% end %>
        　</div>
        
        　<%= form.file_field :image, class: "image", style: "display:none;", id: "icon"%>
        </div>
    <% end %>
    <div class="overlay" style="display:none;" >
    <div class="crop_modal"></div>
    <div class="close_btn"></div>
    <div class="select_icon_btn">決定</div>
</div>

