<h1>プロフィール設定</h1>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">       
                <div class="field image">
                    <i class="far fa-check-square"></i>
                    <div id="img_field" onClick="$('#icon').click()" >
                    　　<% if @user.icon.url.present? %>
                    　　　<%= image_tag @user.icon.url %>
                    　　<% else %>
                    　　　<i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
                    　　<% end %>
                　  </div>
                    <%= f.file_field :icon, class: "image", style: "display:none;", id: "icon"%>
                </div>
            </div>
            <div class="col-md-6">
                <%= render 'icon_editter_modal' %>
                
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>

                <%= f.submit "更新", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>



<%= javascript_include_tag 'cropper.min' %>