<input type="hidden" name="default_edit_type" value="<%= @default_edit_type %>">
<h1>プロフィール設定</h1>
<div class="row justify-content-center">
    <div class="col-6">
        只今アイコントリミング機能に不具合があります。
        <ul class="nav nav-tabs mb-5">
            <!--classにactiveを加えてタブのデザインを切り替える -->
            <li class="nav-item w-50"><a class="edit_profile_tb  btn nav-link active">プロフィール</a></li>
            <li class="nav-item w-50"><a class="edit_password_tb btn nav-link">パスワード</a></li>
        </ul>
    </div>
</div>
<%= render 'edit_profile' %>
<%= render 'edit_password' %>

<%= render 'icon_editter_modal' %>

<!-- javascript -->
<%= javascript_include_tag 'users_edit' %>
<%= javascript_include_tag 'initialize_users_edit' %>