<div class="row">
    <aside class="col-md-3">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
        </section>
    </aside>
    <div class="col-6">
        <h1>ユーザーホーム</h1>
        <% if @microposts.any? %>
            <h3>Microposts (<%= @microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
    <div class="col-3">
        <%= render 'shared/menu_bar' %>
    </div>
</div>