<h1>検索画面</h1>
<div class="row">
    <div class="col-md-3"></div>
    <!-- ユーザー一覧-->
    <div class="col-6">
        <%= form_with url: search_path, id: 'search_form' do |form| %>
            <%= form.hidden_field :search_type, :value => "users" %>
            <%= form.text_field :search_txt, class: "w-75", placeholder: "検索ワード" %>
            <%= form.submit "検索", class: "btn btn-primary search_btn w-auto" %>
            <div id="search_word"></div>
        <% end %>
        <ul class="nav nav-tabs">
            <!--classにactiveを加えてタブのデザインを切り替える -->
            <li class="nav-item w-50"><a class="search_users_tb btn nav-link disabled">ユーザー</a></li>
            <li class="nav-item w-50"><a class="search_microposts_tb btn nav-link disabled">投稿</a></li>
        </ul>
        <!-- ユーザー -->
        <div id="result_users" style="display: none">
            <%= render 'result_users' %>
        </div>
        <!-- 投稿 -->
        <div id="result_microposts" style="display: none">
            <%= render 'result_microposts' %>
        </div>             
    </div>
    <!-- サイドメニュー-->
    <div class="col-3">
        <%= render 'shared/menu_bar' %>
    </div>
</div>

<!-- javascript -->
<%= javascript_include_tag 'users_search' %>