<div class="row">
    <aside class="col-md-3">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <% if current_user?(@user) %>
            <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
            </section>
        <% end %>
    </aside>
    <div class="col-6">
        <%= render 'follow_form' if logged_in? %>
        <%= render 'shared/microposts' %>
    </div>
    <div class="col-3">
        <%= render 'shared/menu_bar' %>
    </div>
</div>