<%= form_with url: micropost_favorite_relationships_path do |form| %>
    <%= form.hidden_field :micropost_id, :value => micropost.id %>
    <%= form.submit "お気に入り", id: "favorite_micropost_submit-#{ micropost.id }"%>
    <i class="fas fa-paw favorite_micropost_icon btn pr-0" value="<%= micropost.id %>" ></i>
    <a href="<%= favorited_users_micropost_path(micropost) %>">
        <strong class="favorited_users_count" class="stat">
            <%= micropost.favorited_users.count %>
        </strong>
    </a>
<% end %>

