<!-- 新規投稿欄を作る際にnilのデータが発生してしまうため、if文ではじく -->
<% unless micropost.id.nil? %>
  <li id="micropost-<%= micropost.id %>">
    <%= link_to micropost.user, target: "blank" do %>
      <%= image_tag micropost.user.icon, class: 'micropost_user_icon' if micropost.user.icon.attached? %>
    <% end %>
    <span class="micropost_user_info" style="display:inline-flex">
      <span class="user mt-0"><%= link_to micropost.user.name, micropost.user %></span>
      <% if micropost.shared? %>
        <span class="shared_user"><%= micropost.shared_message %></span>
      <% end %>
    </span>
    <span class="content">
      <%= micropost.content %>
      <ul>
        <% micropost.pictures.each do |picture| %>
              <%= image_tag picture ,class: "display_picture" %>
        <% end %>
      </ul>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "投稿を削除しますか?" } %>
      <% end %>
    </span>
      <span class="share_micropost" style="display:inline-flex">
        <%= render 'microposts/share_micropost_form', { micropost: micropost } %>
        <%= render 'microposts/favorite_micropost_form', { micropost: micropost } %>
      </span>
  </li>
<% end %>