<%= form_with url: micropost_favorite_relationship_path(current_user.acticve_micropost_favorite_relationships.find_by(micropost_id: micropost.id)), 
              method: :delete, class: 'form_micropost' do |form| %>
    <%= form.submit "解除", id: "favorite_micropost_submit-#{ micropost.id }"%>
    <i class="fas fa-paw unfavorite_micropost_icon btn pr-0" value="<%= micropost.id %>" ></i>
<% end %>
<%= form_with url: favorited_users_micropost_path(micropost), class: 'form_micropost' do |form| %>
    <strong class="stat favorited_users_count btn pl-0" value="<%= micropost.id %>" >
        <%= micropost.favorited_users.count %>
    </strong>
    <%= form.submit "シェアユーザー一覧", class: 'submit_favorited_users', id: "favorited_users_submit_#{ micropost.id }" %>
<% end %>
</span>